.cursor {
  position: absolute;
  z-index: 999;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  pointer-events: none;
  animation: cursor-primary 1s ease infinite;
  transform: translate(-50%, -50%);
}
.cursor:after {
  position: absolute;
  content: "";
  border: 3px solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: cursor-secondary 1s ease infinite alternate-reverse;
  transform: translate(-50%, -50%);
  /* animation-play-state: running; */
}

@keyframes cursor-primary {
  0% {
    border-color: #444;
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    border-color: rgb(174, 76, 76);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes cursor-secondary {
  0% {
    border-color: rgb(174, 76, 76);
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    border-color: #444;
    transform: translate(-50%, -50%) scale(0.1);
  }
}

.cursor-fade-out {
  animation: cursor-click 0.3s ease-out;
}

@keyframes cursor-click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
